* {
margin: 0;
box-sizing: border-box;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

* {
    border: 1px solid black;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.header {
    grid-column: 2 / -1;
}

.header-top-section, .header-bottom-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.header input {
    border-radius: 2rem;
    padding: 0.5rem;
    width: 50%;
    height: 1.8rem;
    padding-left: 1rem;
    margin-right: auto;
    background-color: #f3f4f6;
}

.greeting-wrapper {
    margin-right: auto;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    gap: 1rem;
    background-color: #38bdf8;
}

.sidebar-list {
    padding: 0px;
}

.sidebar-list-item {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
}

.sidebar-icon, .header-icon {
    height: 1.5rem;
    width: 1.5rem;
    align-self: center;
    justify-self: center;
}

.sidebar-icon {
    filter: invert(1);
}

.content {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #f3f4f6;
    padding: 1rem;
}

.project-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    padding: 1rem;
    gap: 1rem;
}

.project-card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
}

.announcement-wrapper {
    grid-column: 2 / 3;
}

.announcement-card, .trending-card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

hr {
    margin: 1rem;
}

.trending-wrapper {
    grid-column: 2 / 3;
}

.avatar-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.trending-avatar {
    grid-row: 1 / 3;
}