* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
    color: #3f3f46;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.header {
    grid-column: 2 / -1;
}

.header-top-section, .header-bottom-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.header input {
    border-radius: 2rem;
    padding: 0.5rem;
    width: 50%;
    height: 1.8rem;
    padding-left: 1rem;
    margin-right: auto;
    background-color: #f3f4f6;
}

.greeting-wrapper {
    margin-right: auto;
}

.header-top-avatar, .trending-avatar {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    justify-self: center;
}

.header-bottom-avatar {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

.header-bottom-section button {
    padding: 0.5rem 1.6rem;
    border-radius: 2rem;
    background-color: #0284c7;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex; 
    flex-direction: column;
    gap: 2rem;
    background-color: #38bdf8;
    padding: 1.2rem 0.1rem;
}

.sidebar-list {
    font-size: 1.4rem;
    padding: 0px;
}

.sidebar-list-item {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: bold;
    color: white;
    padding: 0.2rem 1rem;
}

.sidebar-list-item p {
    color: white;
    font-size: 1.3rem;
}

.sidebar-icon, .header-icon {
    height: 1.5rem;
    width: 1.5rem;
    align-self: center;
    justify-self: center;
}

.sidebar-icon {
    filter: invert(1);
}

.content {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #f3f4f6;
    padding: 1rem;
}

.project-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    padding: 0 1rem;
    gap: 1rem;
}

.project-card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    border-left: orange 0.5rem solid;
    padding: 1.2rem;
}

.project-card-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.project-card-buttons img {
    height: 1.5rem;
    width: 1.5rem;
}

.announcement-wrapper {
    grid-column: 2 / 3;
}

.announcement-card, .trending-card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
}

hr {
    margin: 1rem;

}

.trending-wrapper {
    grid-column: 2 / 3;
}

.avatar-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem 0;
}

.trending-avatar {
    grid-row: 1 / 3;
}

h3 {
    padding: 1rem 0;
    font-size: 1.4rem;
}